{% extends 'main_base_template.html' %} {% block bodycontent %}

<table class="table table-hover">


    <thead>
        <tr>
          <th scope="col">Website Name</th>
          <th scope="col">URL</th>
          <th scope="col">Admin</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
      
      {% for w in website %}
        
      
        
        <tr>
          <th ><a href="{% url 'website_app:website_detail' w.id %}">{{w.website_name}}</a></th>
          <td colspan="2">{{w.website_url}}</td>
          <td>{{w.admin_website}}</td>
          <td>{{w.user_website}}</td>
          <td></td>
        </tr>

        {% endfor %}


      </tbody>



</table>

{% endblock bodycontent %}
